
header{
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(../../assets/_images/edition5.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  &.decouvrir{
    background: url(../../assets/_images/pont.jpg) no-repeat center;
    background-size: cover;
    position: relative;
  }
  &.investir{
    background: url(../../assets/_images/agefi.jpg) no-repeat center;
    background-size: cover;
    position: relative;
  }
  &.shopping{
    background: url(../../assets/_images/cityshop.jpg) no-repeat bottom;
    background-size: cover;
    position: relative;
  }
  &:before{
    content: '';
    display: block;
    width: 150%;
    height: 90px;
    background: $yel;
    position: absolute;
    bottom: -33px;
    transform: rotate(-2deg);
  }
  &:after{
    content: '';
    display: block;
    width: 150%;
    height: 90px;
    background: $semiyel;
    position: absolute;
    bottom: -10px;
    transform: rotate(-3deg);
  }
  nav{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 60px;
    background: $red;
    box-shadow: 0px 0px 15px $semiBlack;
    &:after{
      content: '';
      width: 30px;
      height: 30px;
      background: $red;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
    .wrap{
      position: relative;
      ul{
        float: right;
        li{
          line-height: 60px;
          float: left;
          &:first-child{
            position: absolute;
            left: 0;
            a{
              border: 1px solid $white;
              padding: 7px 10px;
              color: $white;
              box-shadow: 0px 3px 25px $quartBlack;
            }
          }
          a{
            padding:15px 25px;
            color: $white;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
          }
        }
      }
    }
  }

  section{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    &:before{
      content: '';
      display: block;
      width: 150%;
      height: 90px;
      background: $semiyel;
      position: absolute;
      bottom: 60px;
      transform: rotate(-4deg);
    }
    .header-content{
      position: absolute;
      top:50%;
      transform:translateY(-60%);
      img{
        width: 200px;
      }
      p{
        color: $white;
        max-width: 440px;
        width: 100%;
        font-size: 24px;
        line-height: 140%;
        span{
          width: 60px;
          display: inline-block;
          position: relative;
          &:before{
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 2px;
            background: $white;
            bottom: 4px;
          }
        }
      }
    }
  }
}

section{
  display: block;
  position: relative;
  padding: 25px 0;
}

.image-box{
  width: 50%;
  height: auto;
  float: left;
  box-sizing: border-box;
  box-shadow: 0px 3px 25px $semiBlack;
}

.api-actuality{
  max-width: 580px;
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding-left:38px;
  h3{
    font-size: 18px;
    letter-spacing: 3px;

  }
  .container-social{
    width: 100%;
    .social{
      box-shadow: 0px 3px 25px $semiBlack;
      position: relative;
      width: 30%;
      float: left;
      height: 42px;
      line-height: 42px;
      background: $red;
      &:nth-child(2){
        margin-right:4.995%;
        margin-left:4.995%;
      }
      img{
        max-height: 100%;
        width: 42px;
      }
      span{
        margin: 0;
        position: absolute;
        width: 60%;
        text-align: center;
        font-weight: 800;
        font-size: 28px;
        letter-spacing: 3px;
      }
    }
  }
  .container-social-line{
    box-shadow: 0px 3px 25px $semiBlack;
    .social-line{
      position: relative;
      background: $red;
      height: 35px;
      border-bottom:2px solid #b94d67;
      &:first-child{
        margin-top: 15px;
      }
      img{
        max-height: 100%;
        width: 42px;
      }
      p{
        span{
          padding: 0 20px 0 10px;
          border-right: 1px solid $white;
          margin-right: 15px;
        }
        position: absolute;
        top: 0;
        display: inline-block;
        margin: 0;
        height: 100%;
        line-height: 35px;
        text-transform: uppercase;
      }
    }
  }
  .container-partner-line{
    box-shadow: 0px 3px 25px $semiBlack;
    width: 100%;
    .partner-line{
      position: relative;
      height: 35px;
      background: $red;
      border-bottom:2px solid #b94d67;
      padding-left: 17px;
      p{
        position: absolute;
        top: 0;
        display: inline-block;
        margin: 0;
        height: 100%;
        line-height: 35px;

      }
      img{
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        right: 0;
        width: 10px;
        max-height: 100%;
        padding-right: 17px;
      }
    }
  }
}

.banner{
  background: $red;
  margin: 25px 0;
  padding: 15px;
  box-shadow: 0px 3px 25px $semiBlack;
  .wrap{
    p{
      line-height: 140%;
    }
    img{
      float: left;
      height: auto;
      width: 75px;
      padding-right: 38px;
    }
  }
}
.section-membres{
  padding: 0;
  position:relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    height: 35px;
    width: 100%;
    background: $yel;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    height: 35px;
    width: 100%;
    bottom: 0;
    background: $yel;
  }

  .border-members{
    width: 100%;
    background: $white;
    .wrap{
      position: relative;
      z-index: 5;
      background: $white;
      box-shadow: 0px 3px 25px $semiBlack;
      padding-bottom: 35px;
      box-sizing: border-box;
      .rebuild-h2{
        display: inline-block;
        margin: 20px 0 0 40px;
      }
      .rebuild{
        display: inline-block;
        margin: 20px 0 0 45px;
      }
      .rebuild-other{
        padding: 25px 0 0 100px;
      }
      h2{
        color: $red;
        margin: 0 0 25px 0;
        &:before{
          background: $red;
        }
      }
      h3{
        color: $quartBlack;
        font-size: 18px;
        padding: 0;
        margin: 5px 0;
        &:before{
          display: none;
        }
      }
      a{
        .box-member{
          p{
            color: $white;
          }
        }
      }
      .box-member{
        box-shadow: 0px 3px 25px $semiBlack;
        width: 180px;
        height: 300px;
        background: url(../../assets/_images/simon-pro.jpg) no-repeat;
        margin-top: 15px;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        &:hover{
          .member-content-behind{
            left: 0;
            transition: all .5s ease;
          }
        }
        &.change-marg{
          margin-right: 0;
        }
        &.-more{
          background: url(../../assets/_images/Logo.png) no-repeat top;
          background-size: 150px;
          border:1px solid $red;
          margin-right: 0;
          .member-content{
            padding: 20px 15px;
            font-size: 18px;
            &:after{
              content: '...';
              color: $white;
            }
          }
        }
        &:after{
          content:"";
          position: absolute;
          bottom: 40px;
          left: 0;
          transform: rotate(-6deg);
          width: 250px;
          height: 40px;
          background: $red;
        }
        &.-more:after{
          transform: rotate(-30deg);
          width: 500px;
          height: 198px;
          bottom: 12px;
          left: -69px;
        }
        .member-content{
          position: absolute;
          z-index: 5;
          bottom: 0;
          width: 100%;
          text-align: center;
          background: $red;
          padding: 10px;
          box-sizing: border-box;
          p{
            margin: 0;
          }
        }
        .member-content-behind{
          position: absolute;
          z-index: 5;
          top: 0;
          left: 100%;
          width: 100%;
          height: 100%;
          text-align: center;
          background: $red;
          padding: 10px;
          box-sizing: border-box;
          transition: all .5s ease;
          .member-mep-marg{
            margin-bottom: 15px;
          }
          p{
            margin: 0;
          }
          img{
            width: 14px;
          }
          .hotel{
            width: 75%;
          }
        }
      }
      .transition{
        width: 100%;
        height: 1px;
        background: $red;
        margin: 30px 0 20px 0;
        position: relative;
        &:before{
          content: '';
          display: block;
          position: absolute;
          top:-2px;
          outline: 10px solid $white;
          left: 50%;
          width: 20px;
          height: 20px;
          background: $red;
          transform: rotate(45deg) translateX(-50%);
        }
      }
    }
  }

}
.no-margin-bottom{
  margin-bottom:0;
}
.hobby{
  position: relative;
  padding-top: 50px;
  padding-bottom: 80px
}
.book{
  box-shadow: 0px 3px 25px $quartBlack;
  padding: 15px 0;
  margin: 25px auto;
}
.hobbys{
  width: 100%;
  position: relative;
  z-index: 9;
  .book-content{
      padding:0 200px;
      font-size: 22px;
      font-weight: 300;
      line-height: 150%;
      position: relative;
      z-index: 3;
  }
  .line-sep{
    &:after{
      content: '';
      display: block;
      width: 65px;
      height: 1px;
      background: $white;
      margin:35px auto;

    }
  }
  .box-hobby{
    color: $white;
    box-shadow: 0px 3px 25px $semiBlack;
    position: relative;
    margin-top: 35px;
    padding: 5px;
    width: 215px;
    height: 215px;
    background: url(../../assets/_images/tourisme.jpg) no-repeat center;
    box-sizing: border-box;
    &:hover{
      transition: all .5s ease;
      .hobby-content{
        background: $yel;
        .add-hover{
          top:35%;
          color: $white;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-size: 14px;
          &:after{
            display: none;
          }
        }
      }
    }
    &:last-child{
      margin-right: 0;
    }
    &:after{
      content:'';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: $semiBlack;
      top: 0;
      left: 0;
    }
    .hobby-content{
      background: transparent;
      box-sizing: border-box;
      border: 2px solid $yel;
      position: relative;
      z-index: 5;
      height: 100%;
      transition: all .5s ease;
      p{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 24px;
        width: 100%;
        margin: 0;
        &:after{
          content: '';
          display: block;
          width: 40px;
          height: 2px;
          background: $white;
          margin: 0 auto;
          margin-top: 5px;
        }
      }
      .add-hover{
        top:30%;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 14px;
        color: transparent;
        transition: all .5s ease;
        &:after{
          display: none;
        }
      }
    }
  }
}

.business{
  .border-members{
    .wrap{
      h2{
        color:$white;
        &:before{
          background: $white;
        }
      }
      h3{
        padding-top: 5px;
        padding-left: 60px;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        background:$red;
      }
      .box-business{
        padding: 25px 0 0 0;
        position: relative;
        .border-button{
          margin: 0 auto;
          max-width:460px;
          width: 100%;
          a{
            position: relative;
            overflow: hidden;
            display: block;
            padding: 55px 0;
            text-align: center;
            background:$red;
            font-size: 18px;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 3px;
            border: 2px solid $white;
            outline: 5px solid $red;
            span{
              position: relative;
              z-index: 5;
            }
            &:before{
              content: '';
              display: block;
              position: absolute;
              width: 0;
            	height: 0;
            	border-top: 134px solid $quartBlack;
            	border-right: 460px solid transparent;
              top: 0;
            }
          }
        }
      }
    }
  }
}
.before-footer{
  position: relative;
  overflow: hidden;
  &:before{
    content: '';
    display: block;
    width: 150%;
    height: 90px;
    background: $minBlack;
    position: absolute;
    bottom: -51px;
    transform: rotate(-2deg);
  }
  &:after{
    content: '';
    display: block;
    width: 150%;
    height: 90px;
    background: $darkyel;
    position: absolute;
    bottom: -71px;
    transform: rotate(-1deg);
  }
}
.gotop{
  display: block;
  margin:0 auto;
  width: 150px;
  height: 150px;
}

footer{
  background: $red;
  padding: 10px 0;
  .box-creator, .box-informations{
    float: left;
    width: 50%;
    p{
      margin: 0;
    }
    a{
      color: $white;
    }
  }
  .box-informations{
    text-align: right;
  }
}

.event-box-date-lastest{
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;

  .event-date-info{
    width: 25%;
    height:250px;
    float: left;
    box-sizing: border-box;
    background: $red;
    box-shadow: 0px 3px 25px $semiBlack;
    position: relative;
    p{
      width: 100%;
      position: absolute;
      margin:0;
      font-size: 20px;
      font-weight: bold;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      text-transform: uppercase;
      span{
        display: block;
        letter-spacing: 3px;
        position: relative;
        padding-bottom: 10px;
        &:after{
          content: '';
          display: block;
          position: absolute;
          bottom: 5px;
          width: 10px;
          height: 2px;
          left: 50%;
          transform: translateX(-50%);
          background: $white;

        }
      }
    }
  }
  .event-content-info{
    width: 75%;
    height: 50%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
    .event-title{
      text-transform: uppercase;
      letter-spacing: 6px;
      font-weight: bold;
    }
    .event-contenu{
      font-size: 20px;
      font-weight: lighter;
      line-height: 26px;
    }
  }
  .event-photos-info{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    img{
          padding-top: 15px;
      width: 15%;
      margin-right: 15px;

    }
  }
}
