

$yel: #efa954;
$red: #a72141;
$darkyel:#d7974a;

$semiyel:rgba(239, 169, 84, .5);
$quartyel:rgba(239, 169, 84, .3);

$white: #fff;
$black: #000;
$semiBlack:rgba(0, 0, 0, 0.5);
$quartBlack:rgba(0, 0, 0, 0.3);
$minBlack:rgba(0, 0, 0, 0.05);

.wrap{
  max-width: 1160px;
  width: 100%;
  margin:0 auto;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.nomain-page{
  height: 40vh;
  position: relative;
  h1{
    color: $white;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    letter-spacing: 6px;
  }
}
.context{
  padding: 20px 40px;
}
.band{
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    background: $red;
    height: 280px;
    width: 100%;
    top: 45px;
    left: 0;
  }
}

.butt-in-text{
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: bold;
  color: $white;
  margin-right: 15px;
}
.retour{
  &:after{
    display: none !important;
  }
}
.links-nav{
  position: relative;
}
.active-menu-top:after{
  content:'';
  display: block;
  margin: 0 auto;
  height: 2px;
  background: $white;
  position: absolute;
  z-index: 15;
  bottom: 2px;
  animation: navActive .5s ease forwards;
}

.flex{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-flow: row wrap;
}

.burger{
  position: absolute;
  right:20px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
}
iframe{
  margin-top: 25px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px $semiBlack;
}
.banner{
  position: relative;
  min-height: 128px;
  box-sizing: border-box;
}
.anim{
position: absolute;
left: 50%;
transform: translateX(-50%);
top:0px;
opacity: 0;
transition: all .5s ease;
&.activ-ban{
top:25px;
  opacity: 1;
  transition: all 2s ease .5s;
}
}

.scroll-downs {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;

  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.5;
  box-sizing: content-box;
}
.scroller {
  width: 4px;
  height: 5px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
