<!DOCTYPE html>
<html>
  <head>

    <!-- CONTEXT -->
    <meta charset="utf-8">
    <title>Les clefs d'or Luxembourg</title>

    <!-- META -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site officiel Les clefs d'or Luxembourg retrouvez toutes l'actualités  sur notre site.">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Les clefs d'or Luxembourg">

    <!-- SOCIAL CARD -->

    <!-- MEDIAQUERIES -->

    <!-- STYLE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/_css/global.css') }}">

    <!-- FONT -->
    <script src="https://use.typekit.net/zsk3ndb.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- PLUGINS -->

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108181682-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-108181682-1');
      </script>

  </head>

  <body>

    <header>
      <!-- Navigation principal -->
        <nav class="cf" id="#top">
          <span class="burger" id="burger">menu</span>
          <div class="wrap">
          <ul id="top-menu">
            <li><a class="retour" href="{{ url_for('homepage') }}">Les clefs d'or Luxembourg</a></li>
            <li class="link"><a class="links-nav" href="{{ url_for('homepage')}}#actu">Actualité</a></li>
            <li class="link"><a class="links-nav" href="{{ url_for('homepage')}}#membre">Membres</a></li>
            <li class="link"><a class="links-nav" href="{{ url_for('homepage')}}#loisir">Loisirs</a></li>
            <li class="link"><a class="links-nav" href="{{ url_for('homepage')}}#business">Business</a></li>
            <li class="link"><a class="retour links-nav" href="{{ url_for('events')}}">Évènements</a></li>
            <li class="link"><a class="retour links-nav" href="{{ url_for('contact')}}">Nous contacter</a></li>
            <li class="link other-nav"><a class="retour links-nav" href="#">fr</a>
              <ul class="under-nav">
                  <li class="no-first"><a href="#">En</a></li>
                  <li><a href="#">Lu</a></li>
                  <li><a href="#">De</a></li>
                </ul>
              </li>
          </ul>
          </div>
        </nav>
        <div class="scroll-downs">
          <div class="mousey">
            <div class="scroller"></div>
          </div>
        </div>
      <!-- Header content -->
      <section>
        <div class="wrap">
          <div class="header-content">
            <h1><img src="{{ url_for('static', filename='assets/_images/Logo.png') }}" alt="Les clefs d'or Luxembourg"></h1>
            <p><span></span>{{content_homepage}}</p>
          </div>
        </div>
      </section>
    </header>

      <!-- Actuality content -->
      <section id="actu">
        <div class=" cf">
          <img src="{{ url_for('static', filename='assets/_images/simon.jpg') }}" alt="" class="image-box">
          <div class="api-actuality">
            <h2>Actualités-réseaux-Presse</h2>
            <div class="container-social cf">
              <div class="social"><img src="{{ url_for('static', filename='assets/_images/facebook.svg') }}" alt="Facebook"><span class="count">326</span></div>
              <div class="social"><img src="{{ url_for('static', filename='assets/_images/twitter.svg') }}" alt="Twitter"><span class="count">423</span></div>
              <div class="social"><img src="{{ url_for('static', filename='assets/_images/instagram.svg') }}" alt="Instagram"><span class="count">1230</span></div>
            </div>

            <div class="container-social-line">
              <div class="social-line"><img src="{{ url_for('static', filename='assets/_images/facebook.svg') }}" alt="Facebook"><p><span>10:24</span> editions pat.H welcome Book lux</p></div>
              <div class="social-line"><img src="{{ url_for('static', filename='assets/_images/instagram.svg') }}" alt="Facebook"><p><span>10:24</span> Basic income luxembourg</p></div>
              <div class="social-line"><img src="{{ url_for('static', filename='assets/_images/twitter.svg') }}" alt="Facebook"><p><span>10:24</span> editions MEDIA STARS welcome Book lux</p></div>
              <div class="social-line"><img src="{{ url_for('static', filename='assets/_images/facebook.svg') }}" alt="Facebook"><p><span>10:24</span> RAKU-AN Luxembourg export</p></div>
              <div class="social-line"><img src="{{ url_for('static', filename='assets/_images/twitter.svg') }}" alt="Facebook"><p><span>10:24</span> La moselle - luxembourg day</p></div>
              <div class="social-line"><img src="{{ url_for('static', filename='assets/_images/instagram.svg') }}" alt="Facebook"><p><span>10:24</span> The jeweller - Welcome Luxembourg</p></div>

            </div>
            <h3>recommandations et avantages clefs d’or</h3>
            <div class="container-partner-line">
              {% for pub in list_pub %}
              <div class="partner-line"><p>{{ pub[1] }}</p><img src="static/uploaded_pics/{{ pub[3] }}" alt="right-arrow"></div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="banner">

          {% for pub in list_pub %}
          {% if loop.index == 1 %}
            <div class="wrap cf anim activ-ban ba{{loop.index}}">
              <img src="static/uploaded_pics/{{ pub[3] }}" alt="logo-banner">
              <p>{{ pub[1] }}</p>
            </div>
          {% else %}
            <div class="wrap cf anim ba{{loop.index}}">
              <img src="static/uploaded_pics/{{ pub[3] }}" alt="logo-banner">
              <p>{{ pub[1] }}</p>
            </div>
          {% endif %}
          {% endfor %}

        </div>

      </section>

      <!-- Member content -->
      <section class="section-membres" id="membre">
        <div class="border-members">
        <div class="wrap cf">
          <div class="context cf">
              <h2>Membres</h2>
              <div class="flex">
              {% for membre in list_membres_standard %}
                <div class="box-member"><img class="back-box-memb" src="static/uploaded_pics/{{membre[6]}}" alt="personne"><div class="member-content"><p>{{ membre[0] }}</p><p>{{ membre[1] }}</p></div></div>
              {% endfor %}

              <a href="{{ url_for('membres') }}"><div class="box-member -more"><div class="member-content"><p>Découvrir tous les menbres des clefs d’or Luxembourg</p></div></div></a>
              </div>
          </div>
          <div class="context cf">
            <h3>Membres honorés</h3>
            <div class="flex">
            {% for membre in list_membres_honored %}
              <div class="box-member"><div class="member-content"><p>{{membre[0]}}</p><p>{{membre[1]}}</p></div></div>
            {% endfor %}
            <div class="box-member change-marg"><div class="member-content"><p>Simon</p><p>Delcomminette</p></div></div>
            </div>
          </div>
          </div>
        </div>
      </div>
      </div>
      </section>

      <!-- hobby content -->
      <section class="hobby" id="loisir">
        <div class="wrap">
          <h2 class="no-margin-bottom">Loisirs</h2>
          <div class="cf">
            <div class="hobbys flex">
              <a href="{{ url_for('decouvrir') }}" class="box-hobby"><div class="hobby-content"><p class="add-hover">En savoir plus sur</p><p>Découvrir</p></div></a>
              <a href="#" class="box-hobby"><div class="hobby-content"><p class="add-hover">En savoir plus sur</p><p>Boire & Manger</p></div></a>
              <a href="{{ url_for('shopping') }}" class="box-hobby"><div class="hobby-content"><p class="add-hover">En savoir plus sur</p><p>Shopping</p></div></a>
              <a href="#" class="box-hobby"><div class="hobby-content"><p class="add-hover">En savoir plus sur</p><p>Vie nocturne</p></div></a>
            </div>
          </div>
        </div>
      </section>

      <!-- business content -->
      <section class="section-membres business"  id="business">
        <div class="border-members">
        <div class="wrap cf">
            <h2 class="rebuild-h2">Business</h2>
            <h3 class="rebuild-other">Pourquoi le luxembourg</h3>
            <div class="box-business">
              <div class="border-button">
                <a href="{{ url_for('investir') }}"><span>Investir</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </section>

      <section class="before-footer">
        <div class="wrap">
          <iframe style="width:100%; height:700px;" src="//e.issuu.com/embed.html#1138747/53225396" frameborder="0" allowfullscreen></iframe>
          <a href="#top"><img src="{{ url_for('static', filename='assets/_images/Logo.png') }}" alt="go to top logo clefs d'or" class="gotop"></a>
        </div>
      </section>

      <footer class="cf">
        <div class="wrap">


        <div class="box-creator">
          <p>Developped by</p>
          <p>BACKEND - <a href="#">Michael Cukier</a></p>
          <p>FRONTEND - <a href="#">Benjamin Verboogen</a></p>
        </div>
        <div class="box-informations">
          <p>Les clefs d'or</p>
          <p>LUXEMBOURG</p>
          <p><a href="{{ url_for('mentions') }}">Mentions Légales</a> & <a href="{{ url_for('credits') }}">Crédits</a> 2017</p>
        </div>
        </div>
      </footer>
      <script src="{{ url_for('static', filename='assets/_js/jquery-3.2.1.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/_js/menu-res.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/_js/main-scroll.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/_js/count.js') }}"></script>
      <script>
      var cpt=1;
      function explode(){
        console.log(cpt)
        backcpt = cpt-1;
        if(backcpt == 0){
          backcpt = 3;
        }
        console.log(backcpt)
            $(".ba"+cpt).addClass("activ-ban");
            cpt++;
            $(".ba"+backcpt).removeClass("activ-ban");
            if (cpt == 4) {
              cpt=1;
            }
        }
        setInterval(explode, 5000);
      </script>
  </body>
</html>
