<header class="nomain-page">
  <!-- Navigation principal -->
  <nav class="cf" id="#top">
    <span class="burger" id="burger">menu</span>
    <div class="wrap">
    <ul id="top-menu">
      <li><a class="retour" href="{{ url_for('homepage') }}">Les clefs d'or Luxembourg</a></li>
      <li class="link"><a class="links-nav" href="{{ url_for('homepage')}}#actu">Actualité</a></li>
      <li class="link"><a class="links-nav" href="{{ url_for('homepage')}}#membre">Membres</a></li>
      <li class="link"><a class="links-nav" href="{{ url_for('homepage')}}#loisir">Loisirs</a></li>
      <li class="link"><a class="links-nav" href="{{ url_for('homepage')}}#business">Business</a></li>
      <li class="link"><a class="retour links-nav" href="{{ url_for('events')}}">Évènements</a></li>
      <li class="link"><a class="retour links-nav" href="{{ url_for('contact')}}">Nous contacter</a></li>
      <li class="link"><a class="retour links-nav" href="#">fr</a></li>
    </ul>
    </div>
  </nav>
    <h1>Événements</h1>
</header>
