body{
	background: #f2f6ff;
}
p{
	font-family: 'ProximaNovaS-Thin';
}
h1,h2,h3,h4,h5,h6{
	      font-family: 'MillerDisplay';
}
ul,li{
	 font-family: 'ProximaNovaS-Thin';
   font-weight:bold;
}

span{
	 font-family: 'MillerDisplay';
	 color: #e0e0e0;
	 font-size: 10px;
}

.linkFcb:hover{
	text-decoration:  none;
}

.container-fluid {
    padding-right: 2% !important;
    padding-left: 2.5% !important;
}
.logo {
     padding: 6px 0px 0px;
}
.logo ul{
    padding:0px;
    margin: 0px;
}
.logo ul li {
    display: inline-block;
    list-style: none;

}

.logo h5 {
    line-height: 0.4;
    font-size: 17px;
    font-family: 'ProximaNova-Semibold' !important;
		margin-left: 2.5px;
}
.logo p {
    font-size: 12px;
    line-height: 0.9;
    font-family: 'ProximaNovaS-Thin' !important;
		margin-left: 2.5px;
}

.text-logo h5 {

    font-family: 'ProximaNova-Semibold' !important;
}

.text-logo {
    padding: 0px;
}


.universal ul{
	padding: 0px;
	margin: 0px auto !important;

}
.universal ul li {
    display: inline-block;
    margin-left: 0px;
    padding: 16px 19px;
    border-right: 1px solid #dadada;
    height: 55px;
    font-family: 'ProximaNovaS-Thin' !important;
		color: #A6A6A6;
}
.universal {
    text-align: right;
        padding: 0px 2px;
}
.bg-color {
    background: #fff;
    border-top: 5px solid #6699CC;
		-webkit-box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
		-moz-box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
		box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
}
.main-text i {
    font-size: 14px;
    margin-right: 6px;
}

.main-text li:first-child {
		color: #333333 !important;
}

.no-padd{
	padding: 0px;
}
.mostly {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    z-index: 1000;
    color: #fff;
    padding: 20px;
}
.mostly h2 {
    font-size: 35px;
		font-family: 'MillerDisplay' !important;
}
.mostly span {
       color: #e0e0e0;
    font-size: 17px;
}
.alpha {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0px 12px;
    bottom: -3px;
}
.alpha h2 {
    font-size: 12px;
    color: #fffcfc;
    font-weight: bold;
}
.alpha span.hide-text {
    color: #d4d4d4;
    margin-left: 6px;
}
.content-section {
    padding: 18px 26px !important;
		margin-bottom: -20px;
}
.min-width {
    padding: 0px 3px;
}
.mypadd {
    padding: 0px 6px 0px 3px;
}
.category {
    padding: 6px 7px 0px 3px;
}
.logo img {
    padding-top: 6px;
    width: 35px;
    text-align: right;
    margin: 0px auto;
		margin-left: -6px;

}
.footer-bg {
    background: #333333;
      padding: 23px;
}
.footer-bg img {
    margin: 0px auto;
}
.footer-bg h5 {
    color: #e2e2e2;
    font-size: 15px;
}
.subscribe-section {
    background: #669acc;
    padding: 8px 0px 28px;
        margin-top: 33px;
}
.subscribe {
    color: #fff;
}
.subscribe p {
	margin-top: -5px;
    color: #fff;
		font-family: 'MillerDisplay' !important;
}

.text-box-sub input[type="text"] {
    background: #FFF;
    color: #000;
    padding-left: 13px;
    border: 0px;
}

.text-box-sub input[type="text"] {
    background: #FFF;
    color: #000;
    padding-left: 13px;
    border: 0px;
    height: 46px;
    width: 332px;


}
.text-box-sub ::-webkit-input-placeholder{
	font-size: 19px;
	color: #dcdcdc;
}

.text-box-sub input[type="submit"] {
    height: 46px;
    background: #4c6f95;
    border: 1px solid #4c6f95;
    color: #fff;
    padding: 0px;
    width: 137px;
    font-size: 20px;
    position: relative;
    top: 1px;
    left: -4px;

}

.text-box-sub input[type=text]:focus {
	outline:none;
}

.text-box-sub input[type=submit]:focus {
	outline:none;
}

.bg-image-color {
    background: #fff;
		-webkit-box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
		-moz-box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
		box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
		margin: 12px 0px;
}
h3.more-head {
    color: #dcdbdb;
    z-index: 100;
    background: #f2f6ff;
    width: 20%;
    margin: 24px auto;
}
h3.more-head:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px solid #E5E5E5;

    text-align: center;
    margin: 11px auto;
    z-index: -1;
    width: 1163px;
}
.generation h3 {
    padding: 0px 101px 0px 2px;
    min-height: 131px;
		margin-left: 50px;
}
.generation p {
    color: #D3D3D3;
    font-size: 17px;
		font-family: 'MillerDisplay' !important;
		margin-left: 50px;
}
.left-side {
    padding: 0px;
    background: #fFF;
		-webkit-box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
		-moz-box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
		box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
		margin-top: -26px;
}
.mark-content {
    padding: 8px 14px;
    border-top: 1px solid #f1f1f1;
}
.left-side h6 {
    padding-left: 15px;
    border-left: 6px solid #8bb9e4;
    height: 34px;
    margin: 0px;
    padding-top: 10px;
    color: #CCC;
}
.report-content p {
    background: #FFF;
    padding: 10px;
    font-size: 12px;
    color: #000;
		-webkit-box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
		-moz-box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
		box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
		font-family: 'MillerDisplay' !important;
}
.no-relative {
    position: relative;
    top: -33px;
}
.report-content {
    padding: 7px 6px;
}
.box-layer-section {
    margin-top: 50px;
}
.min-width:before {
    content: "";
    position: absolute;
    left: 3px;
    right: 0;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.50);
    width: 98%;
}
.great-padd {
    padding: 0px 0px 0px 28px;
}
.universal ul li {
border-right: 1px solid #f3f3f3 !important;
}
.report-content img {
	-webkit-box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
	-moz-box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
	box-shadow: 0px 1px 10px 0px rgba(219,219,219,1);
}
.stories-section {
       padding-right: 43px !important;
    padding-left: 43px !important;
}

.ganta-text {
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding: 3px 12px;
}
.ganta-text h5{
    color: #fff;
    font-size: 16px;
}
.react-over-padd {
    padding-left: 3px;
    padding-right: 2px;
}
.react-over-padd img{
    width: 100%;
}
.over-write {
    padding-left: 3px;
    padding-right: 3px;
}

@media only screen and (max-width : 1100px) {
	h3.more-head:before {
		width: 98%;
	}
}

 @media only screen and (max-width : 980px) {
	 .react-over-padd{
	    margin-top: 20px;
	 }
}

@media only screen and (max-width : 480px) {
	.logo img {
		margin: 0px auto;
	}
	.universal {
		text-align: left;
	}
	.min-width {
		margin-bottom: 20px;
	}
	.over-write {
		margin-bottom: 20px;
	}
}
