
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: $black;
}

body{
  font-family: "mr-eaves-modern",sans-serif;
  background: $yel;
  color: $white;
}
h2, h3{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 400;
  position: relative;
  padding-left: 60px;

  &:before{
    content:'';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background: $white;
  }
}
