
  <!DOCTYPE html>
  <html>
  <head>

    <!-- CONTEXT -->
    <meta charset="utf-8">
    <title>Les clefs d'or Luxembourg</title>

    <!-- META -->
    <meta name="description" content="Site officiel Les clefs d'or Luxembourg retrouvez toutes l'actualités  sur notre site.">
    <meta name="author" content="Les clefs d'or Luxembourg">

    <!-- SOCIAL CARD -->

    <!-- MEDIAQUERIES -->

    <!-- STYLE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/_css/global.css') }}">

    <!-- FONT -->
    <script src="https://use.typekit.net/zsk3ndb.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- PLUGINS -->

  </head>

  <body class="special-admin">
    <section class="administration">
      <nav>
        <ul class="cf">
          <li><a  class="corner" href="#"><img src="/static/assets/_images/elyxir.svg"></a></li>
          <li><span>Statistiques des clefs d'or Luxembourg</span></li>
        </ul>
      </nav>
      <span class="logoff">Salut, user !<a href="{{ url_for('logout') }}">Logout</a></span>
    </section>
    <section class="gestion">
      <div class="side-option">
        <ul>
          <li><button id="stat" type="button"  name="button">Statistiques</button></li>
          <li><button id="publications" type="button" name="button">Publications</button></li>
          <li><button id="publicites" type="button" name="button">Publicités</button></li>
          <li><button id="langues" type="button" name="button">Langues</button></li>
          <li><button id="langues" type="button" name="button">Crédits</button></li>
          <li><button id="langues" type="button" name="button">Mentions</button></li>
          <li><button id="langues" type="button" name="button">Plugins</button></li>
          <li><button id="langues" type="button" name="button">Super Admin</button></li>
        </ul>
      </div>

      <div class="page-admin-move">

        <div class="statis-content" id="statis">
          <h2>Statistiques</h2>
          <div class="stat-content">
            <div class="stat-box"><div class="circle-stat"><span>364</span></div><p>Nouveaux visiteurs</p></div>
            <div class="stat-box"><div class="circle-stat"><span>200</span></div><p>Total visiteurs</p></div>
            <div class="stat-box"><div class="circle-stat"><span>635</span></div><p>Pages parcourues</p></div>
            <div class="stat-box"><div class="circle-stat"><span>635</span></div><p>Facebook</p></div>
            <div class="stat-box"><div class="circle-stat"><span>635</span></div><p>Twitter</p></div>
            <div class="stat-box"><div class="circle-stat"><span>635</span></div><p>Instagram</p></div>
          </div>
          <div class="stat-content">
            <div class="graph-box"><div class="circle-stat">Graphique Indisponible</div></div>
          </div>
        </div>

        <div class="public-content" id="publ1">
          <div class="publi-left">
          <h2>Publications</h2>
          <h3>Sélectionnez la catégories qui vous intéresse: </h3>
          <div class="radio-btn">
          <input type="radio" id="event" name="categories" value="0"/>
          <label for="event">Évènements</label>
          </div>
          <div class="radio-btn">
            <input type="radio" id="membres" name="categories" value="1"/>
            <label for="membres">Membres</label>
          </div>
            <div class="radio-btn">
            <input type="radio" id="annonces" name="categories" value="2"/>
            <label for="annonces">Annonces</label>
          </div>
          <form class="input-article" id="input-article">
            <label>Titre de la publication:</label>
            <input type="text" id="titleApercu" placeholder="Titre"/>
            <label>Contenu:</label>
            <textarea id="textApercu"  placeholder="Contenu"></textarea>
            <label>Importer des images:</label>
            <input class="style-file-button" type="file" name="nom" />

            <input class="validation-css-style-type" type = "submit" name="nom"/>
          </form>

          <form action="{{ url_for('uploaderMembres') }}" method="POST" enctype="multipart/form-data" class="input-members" id="input-members">

            <label>Nom:</label>
            <input type="text" class="form-control" placeholder="Nom" id="in-name" name="member_name" value="{{request.form.member_name}}">

            <label>Prénom:</label>
            <input type="text" class="form-control" placeholder="Prénom" id="in-sec-name" name="member_surname" value="{{request.form.member_surname}}">

            <label>Status:</label>
            <input type="text" class="form-control" placeholder="Status ex: Guest relation" id="in-status" name="member_status" value="{{request.form.member_status}}">

            <label>Étoiles:</label>
            <input type="text" class="form-control" placeholder="De 1 à 5" id="in-stars" name="member_etoiles" value="{{request.form.member_etoiles}}">

            <label>Adresse:</label>
            <input type="text" class="form-control" placeholder="Adresse hotel" id="in-adress" name="member_adresse" value="{{request.form.member_adresse}}">

            <label>Sélectionner le type de membre</label>
            <select name="typeMembre" id="typeMembre" class="selectpicker form-control">
                <option value="0"> standard </option>
                <option value="1"> Honoré </option>
            </select>

            <label>Sélectionner parmi les logos déjà enregistré:</label>
            <select name="logoHotel" id="logoHotel" class="selectpicker form-control">
                <option value="0"> aucun </option>
            </select>

            <label>Logo hôtel:</label>
            <input class="style-file-button" type="file" name="file" />

            <input class="validation-css-style-type" type="submit" name="nom"/>

          </form>

          <form action="{{ url_for('uploaderActu') }}" method="POST" enctype="multipart/form-data" class="input-event" id="input-event">
            <label>Date:</label>
            <input type="text" class="form-control" placeholder="Date ex: 21/12/17" id="in-date" name="event_date" value="{{request.form.event_date}}">
            <label>Description:</label>
            <input type="text" class="form-control" placeholder="Description" id="in-description" name="event_description" value="{{request.form.event_description}}">
            <label>Photos:</label>
            <input class="style-file-button" type="file" name="file" />
            <input class="validation-css-style-type" type = "submit" name="nom"/>
            </div>
            <div class="apercu">
              <h2>Récapitulatif</h2>
              <div id="ap-annonces">
                <p id="previewtitle" class="previewtitle"></p>
                <p id="preview" class="preview"></p>
              </div>
              <div id="ap-membres">
                <p id="name-members" class="previewtitle"></p>
                <p id="name-sec-members" class="preview"></p>
                <p id="status-members" class="preview"></p>
                <p id="stars-members" class="preview"></p>
                <p id="adress-members" class="preview"></p>
                <p id="img-members" class="preview"></p>
              </div>
              <div id="ap-event">
                <p id="ap-date" class="previewtitle"></p>
                <p id="ap-desc" class="preview"></p>
              </div>

            </form>
          </div>
        </div>

        <div class="pub-content" id="ban-pub">
          <h2>Publicités</h2>
          <h4>Bannières</h4>
          <div class="exist-ban">
            {% for pub in bannieres %}
              <form action="/deletePub/{{pub[2]}}"> <p><b>{{ loop.index }}</b><span>{{ pub[1] }}</span><a href="{{ pub[4] }}">{{ pub[4] }}</a><button type="submit">Supprimer</button><b>Actif</b></p> </form>
            {% endfor %}
          </div>
          <h4>Bloc loisirs</h4>
          <div class="exist-bloc">
            {% for pub in loisirs %}
              <form action="/deletePub/{{pub[2]}}"> <p><b>{{ loop.index }}</b><span>{{ pub[1] }}</span><a href="{{ pub[4] }}">{{ pub[4] }}</a> <button type="submit"> Supprimer </button> <b>Actif</b></p> </form>
            {% endfor %}
          </div>
          <form action="{{ url_for('uploaderPub') }}" method="POST" enctype="multipart/form-data" class="input-event" id="input-event">
            <label>Catégorie:</label>
            <select name="typedepub" class="selectpicker form-control">
                <option value="Banniere">Banniere</option>
                <option value="Loisir">Loisir</option>
            </select>

            <label>Url de la publicité:</label>
            <input type="text" class="form-control" placeholder="www.nouvelle-pub.com" name="pub_url" value="{{request.form.pub_url}}">
            <label>Contenu de l'annonce:</label>
            <input type="text" class="form-control" placeholder="Texte de l'annonce" name="pub_contenu" value="{{request.form.pub_contenu}}">
            <label>Image:</label>
            <input class="style-file-button" type="file" name="file" />
            <input class="validation-css-style-type" type = "submit" name="nom"/> <!-- bouton ajout de la publicité !-->
          </form>
        </div>

        <div class="trad-content" id="trad">
          <div class="trad-content-box">
          <h2>Traduction</h2>
          <div class="radio-btn">
            <input type="radio" id="homepage" name="categories" value="1"/>
            <label for="homepage">Homepage</label>
          </div>
          <div class="radio-btn">
            <input type="radio" id="membres-page" name="categories" value="1"/>
            <label for="membres-page">Membres</label>
          </div>
          <div class="radio-btn">
            <input type="radio" id="business-page" name="categories" value="1"/>
            <label for="business-page">Business</label>
          </div>
          <div class="radio-btn">
            <input type="radio" id="investir-page" name="categories" value="1"/>
            <label for="investir-page">investir</label>
          </div>
          <div class="radio-btn">
            <input type="radio" id="loisir-pages" name="categories" value="1"/>
            <label for="loisir-pages">Loisir</label>
          </div>
          <div class="radio-btn">
            <input type="radio" id="contact-pages" name="categories" value="1"/>
            <label for="contact-pages">Contact</label>
          </div>

          <div class="exist-bloc">
            <h4>Contenu de la page sélectionnée</h4>
            <div class="all-text-page">
                <p class="text-content-site-trad-base-fr">{{content_homepage_fr}}</p>
            </div>
            <h4>Texte francais</h4>
            <input id="text-fr" type="text" name="trad-fr" value="{{content_homepage_fr}}">
            <h4>Traduction Anglais</h4>
            <input type="text" name="trad-en" value="{{content_homepage_en}}">
            <h4>Traduction Luxembourgeois</h4>
            <input type="text" name="trad-lu" value="{{content_homepage_lux}}">
            <h4>Traduction Allemand</h4>
            <input type="text" name="trad-du" value="{{content_homepage_all}}">
            <button class="validation-css-style-type" type="submit" value="Submit">Valider la traduction</button>
          </div>
        </div>
        <div class="trad-content-box-2">
          <h2>Traduction global</h2>
        </div>
      </div>
      <div class="status-change">
        <p class="perfect-active">La mise en ligne sans aucun problème.</p>
        <p class="bad">La mise en ligne a rencontré un problème, si le problème persiste contactez un administrateur.</p>
      </div>
        </div>
      </section>



      <script src="{{ url_for('static', filename='/assets/_js/jquery-3.2.1.min.js') }}"></script>
      <script src="{{ url_for('static', filename='/assets/_js/switch-section-form.js') }}"></script>
      <script>
      $(".radio-btn").click(function() {
        var nbr=0;
          $(".text-content-site-trad-base-fr").each(function(nbr){
            $(this).attr('id', 'txt-p-'+(nbr+1));
        });
      });
        $(".text-content-site-trad-base-fr").click(function() {
          var moveText = $(this).text();
          $('#text-fr').empty();
          $('#text-fr').val(moveText);
        });
      </script>
    </body>
    </html>
