
@font-face {
  font-family: 'ProximaNovaS-Thin';
  src: url('ProximaNovaS-Thin.ttf') format('truetype');
       /*
       url('ProximaNovaS-Thin.woff') format('woff'),
            url('ProximaNovaS-Thin.ttf') format('truetype'),
            url('ProximaNovaS-Thin.svg#ProximaNovaS-Thin') format('svg');
      */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MillerDisplay';
  src: url('millerdisplay.ttf') format('truetype');
       /*
       url('ProximaNovaS-Thin.woff') format('woff'),
            url('ProximaNovaS-Thin.ttf') format('truetype'),
            url('ProximaNovaS-Thin.svg#ProximaNovaS-Thin') format('svg');
      */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaS-Bold';
  src: url('ProximaNova-Bold.ttf') format('truetype');
}
