<head>
<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
</head>

{% for article in data %}

<center>

<h2> Create Post </h2>
  <form action="" class="form-inline" method="post">


    <hr>

  <h1> Little box on homepage: </h1>

  <h3> brief description: </br>
    <input id="briefDesc" type="text" size="60" class="form-control" name="briefDesc" value="{{request.form.briefDesc}}">
  </h3>

  <h3> alias: </br>
    <input id="alias" type="text" size="60" class="form-control" name="alias" value="{{request.form.alias}}">
  </h3>

  <h3> tech used: (ex: python,css,javascript) NO SPACE BETWEEN ","</br>
    <input id="techUsed" type="text" size="60" class="form-control" placeholder="" name="techUsed" value="{{request.form.techUsed}}">
  </h3>

<hr>

  <h1> Full project details: </h1>

  <h3> title: </br>
    <input id="title" type="text" size="60" class="form-control" placeholder="" name="title" value="{{request.form.title}}"> </input>
  </h3>

  <h3> Img URL: </br>
    <input id="imgUrls" type="text" size="60" class="form-control" placeholder="" name="imgUrls" value="{{request.form.imgUrls}}">
  </h3>

  <h3> Full description of project: (newline = [newline])</br>
    <textarea id="fullDesc" rows="10" cols="120" style="resize: none;" placeholder="" class="form-control" name="fullDesc" value="{{request.form.fullDesc}}"/>{{ article[2] }}</textarea>
  </h3>

  <h3> how does it work?: (newline = [newline])</br>
    <textarea id="howDoesItWork" rows="10" cols="120" style="resize: none;" placeholder="" class="form-control" name="howDoesItWork" value="{{request.form.howDoesItWork}}"/>{{ article[6] }}</textarea>
  </h3>

  <h3> link to website/app/github/fiddle/...: </br>
    <input id="link" type="text" size="60" class="form-control" placeholder="sss" name="link" value="{{request.form.link}}">
  </h3>

  <h3> text written on button: </br>
    <input id="linkText" type="text" size="60" class="form-control" placeholder="" name="linkText" value="{{request.form.linkText}}">
  </h3>

  <h3> position: </br>
    <input id="position" type="text" size="60" class="form-control" placeholder="" name="position" value="{{request.form.position}}">
  </h3>

<hr>

  </br> <input class="button" type="submit" style="height:100px; width:300px;" value="EDIT PROJECT"> </br> </br>
</form>

</center>

<script>
  document.getElementById("briefDesc").setAttribute('value','{{ article[5] }}');
  document.getElementById("alias").setAttribute('value','{{ article[7] }}');
  document.getElementById("techUsed").setAttribute('value','{{ article[3] }}');
  document.getElementById("title").setAttribute('value','{{ article[4] }}');
  document.getElementById("imgUrls").setAttribute('value','{{ article[1] }}');
  document.getElementById("link").setAttribute('value','{{ article[8] }}');
  document.getElementById("linkText").setAttribute('value','{{ article[9] }}');
  document.getElementById("position").setAttribute('value','{{ article[10] }}');
</script>

{% endfor %}
