<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='uikit.min.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4974177-2"></script>
</head>

<body>
  <center>
    <br />
    <table class="uk-table uk-table-middle uk-table-divider" style="width: 80%;">
      <thead>
        <tr>
          <th class="uk-width-small"> Name </th>
          <th> Short description </th>
          <th> Call to action </th>
        </tr>
      </thead>
      <tbody>
        {% for article in data %}
        <tr>
          <td>{{ article[4] }}</td>
          <td>{{ article[5] }}</td>
          <td><a class="uk-button uk-button-default" type="button" href="/edit_post/{{ article[7] }}">EDIT POST</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" href="{{ url_for('create_post') }}" style="width: 80%;"> Create an article </a>
  </center>
</body>
