{% extends 'home.html' %}
{% block content %}
{% for project in data %}
<title>{{ project[4] }}</title>
<center>
    <p style="font-size: 30px !important;"> {{ project[4] }} </p>
    <div style="margin-top: -15px;"> </div>
    <p style="font-size: 15px !important;"> {{ project[5] }} </p>
    <div style="margin-top: -10px;"> </div>
    {% if project[7] == "autoquotes" %}
      <br /> <img src="/static/{{ project[1] }}" style="width: 470px;" /> <br /><br />
    {% elif project[7] == "babyai" %}
      <br /> <img src="/static/{{ project[1] }}" style="width: 40%;" /> <br /><br />
    {% else %}
      <img src="/static/{{ project[1] }}" style="width: 60%;" /> <br /><br />
    {% endif %}
    
    <div class="container">
        <div class="row">
            <div class="col-3" style="text-align: left; border-style: solid; border-width: 0.1px; border-color: #EBEBEB; padding: 20px; width: 50%;">
                Description </br> </br>
                {% for lineDesc in project[2].split('[newline]') %}
                  •&nbsp;&nbsp; {{ lineDesc }} </br>
                  <div style="margin-top: 5px;"> </div>
                {% endfor %}
                <div style="margin-top: -5px;"> </div>
            </div>
        </div>
    </div>
    <br />
    {% if project[6] != " " %}
      <div class="container">
          <div class="row">
              <div class="col-3" style="text-align: left; border-style: solid; border-width: 0.1px; border-color: #EBEBEB; padding: 20px; width: 50%;">
                  How does it work? </br> </br>
                  {% for lineDesc in project[6].split('[newline]') %}
                    •&nbsp;&nbsp; {{ lineDesc }} </br>
                    <div style="margin-top: 5px;"> </div>
                  {% endfor %}
                  <div style="margin-top: -5px;"> </div>
              </div>
          </div>
      </div>
      <br /><br />
    {% endif %}
    <button class="uk-button uk-button-default" style="padding-top: -5px; padding-bottom: 15px;" disabled>
        <div style="font-size: 10px;"> Technologies used </div>
        {% for tech in project[3].split(',') %}
          {% if loop.index == 1 %}
            <img src="/static/{{ tech }}_logo.jpg" style="height: 50px; border: #EAEAEA 0.1px solid; padding: 10px;" />
          {% else %}
            <img src="/static/{{ tech }}_logo.jpg" style="height: 50px; border: #EAEAEA 0.1px solid; padding: 10px; margin-left: 10px;" />
          {% endif %}
        {% endfor %}
    </button>
    <br /><br />
    {% if project[9] != " " %}
      <a class="uk-button uk-button-primary uk-button-large" href="{{ project[8] }}"> {{ project[9] }} </a>
    {% endif %}
</center>
{% endfor %}
<br />
<a href="#" uk-totop uk-scroll>
    <div style="font-size: 10px; height: 15px;"> Back to top </div>
    <br />
</a>
{% endblock content %}
