
<!DOCTYPE html>
<html>
<head>
  <!-- CONTEXT -->
  <meta charset="utf-8">
  <title>Les clefs d'or Luxembourg</title>
  <!-- META -->
  <meta name="description" content="Site officiel Les clefs d'or Luxembourg retrouvez toutes l'actualités  sur notre site.">
  <meta name="author" content="Les clefs d'or Luxembourg">
  <!-- SOCIAL CARD -->
  <!-- MEDIAQUERIES -->
  <!-- STYLE -->
  <link rel="stylesheet" href="../../assets/_css/global.css">
  <!-- FONT -->
  <script src="https://use.typekit.net/zsk3ndb.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <!-- PLUGINS -->
</head>
<body class="special-admin">

  <section class="administration">
    <nav>
      <ul class="cf">
        <li><a  class="corner" href="#"><img src="../../assets/_images/elyxir.svg" alt="Elyxir"></a></li>
        <li><span>Statistiques des clefs d'or Luxembourg</span></li>
      </ul>
    </nav>
  </section>

  <section class="gestion">

    <div class="side-option">
      <ul>
        <li><a href="dashboard.html" class="options-link">Statistiques</a></li>
        <li><a href="publications.html" class="options-link">Publications</a></li>
        <li><a href="langues.html" class="options-link">Langues</a></li>
      </ul>
    </div>

    <div class="page-admin-move">
      <div class="trad-content" id="trad">
        <div class="trad-content-box">
        <h2>Traduction</h2>
        <div class="radio-btn">
          <input type="radio" id="homepage" name="categories" value="1"/>
          <label for="homepage">Homepage</label>
        </div>
        <div class="radio-btn">
          <input type="radio" id="membres-page" name="categories" value="1"/>
          <label for="membres-page">Membres</label>
        </div>
        <div class="radio-btn">
          <input type="radio" id="business-page" name="categories" value="1"/>
          <label for="business-page">Business</label>
        </div>
        <div class="radio-btn">
          <input type="radio" id="investir-page" name="categories" value="1"/>
          <label for="investir-page">investir</label>
        </div>
        <div class="radio-btn">
          <input type="radio" id="loisir-pages" name="categories" value="1"/>
          <label for="loisir-pages">Loisir</label>
        </div>
        <div class="radio-btn">
          <input type="radio" id="contact-pages" name="categories" value="1"/>
          <label for="contact-pages">Contact</label>
        </div>

        <div class="exist-bloc">
          <h4>Contenu de la page sélectionnée</h4>
          <div class="all-text-page page_homepage">
              <p class="text-content-site-trad-base-fr">{{content_homepage_fr}}</p>
          </div>
          <div class="all-text-page page_membres">
              <p class="text-content-site-trad-base-fr">{{content_homepage_fr}}</p>
          </div>
          <div class="all-text-page page_business">
              <p class="text-content-site-trad-base-fr">{{content_homepage_fr}}</p>
          </div>
          <div class="all-text-page page_investir">
              <p class="text-content-site-trad-base-fr">{{content_homepage_fr}}</p>
          </div>
          <div class="all-text-page page_loisir">
              <p class="text-content-site-trad-base-fr">{{content_homepage_fr}}</p>
          </div>
          <div class="all-text-page page_contact">
              <p class="text-content-site-trad-base-fr">{{content_homepage_fr}}</p>
          </div>

          <h4>Texte francais</h4>
          <input id="text-fr" type="text" name="trad-fr" value="{{content_homepage_fr}}">
          <h4>Traduction Anglais</h4>
          <input type="text" name="trad-en" value="{{content_homepage_en}}">
          <h4>Traduction Luxembourgeois</h4>
          <input type="text" name="trad-lu" value="{{content_homepage_lux}}">
          <h4>Traduction Allemand</h4>
          <input type="text" name="trad-du" value="{{content_homepage_all}}">
          <button class="validation-css-style-type" type="submit" value="Submit">Valider la traduction</button>
        </div>
      </div>
    </div>
    </section>

    <script src="../../assets/_js/jquery-3.2.1.min.js"></script>
    <script src="../../assets/_js/switch-section-form.js"></script>
    <script>
    $(".radio-btn").click(function() {
      var nbr=0;
      $(".text-content-site-trad-base-fr").each(function(nbr){
        $(this).attr('id', 'txt-p-'+(nbr+1));
      });
    });
    $(".text-content-site-trad-base-fr").click(function() {
      var moveText = $(this).text();
      $('#text-fr').empty();
      $('#text-fr').val(moveText);
    });
    </script>
  </body>
  </html>
